.info{
    background: url(./weather_bg.jpg) 0 0 no-repeat;
    background-size: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.info__heading{
    font-size: 30px;
}
.info__txt{
    font-size: 20px;
}